.about-us {
    @apply flex flex-row justify-between gap-4;
}

.stripes {
    position: relative;
    @apply border w-full;
}

.stripes::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(2deg, #000000 0%, transparent 45%);
}
