.btn {
    @apply border-none rounded-lg px-3 py-2 bg-zinc-900 text-white hover:-translate-y-1 transition-all duration-150 ease-in-out origin-center hover:shadow-md hover:shadow-red-700;
}

.register-button {
    position: relative;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 400;
    font-size: 2rem;
    background-color: transparent;
    transition: all 0.3s ease-out;
    height: min-content;
    z-index: 1;
    pointer-events: all;
}

.register-button-sm {
    padding: 0.78vh 3vw;
    width: 100%;
}

.register-button-lg {
    padding: 2vh 6vw;
}

.register-button::before {
    content: '';
    transition: all 0.3s ease-out;
    position: absolute;
    inset: 0;
    border-radius: 5px;
    padding: 4px;
    background: linear-gradient(90deg, #721213, #ef1b0d);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.register-button:hover {
    background-color: #ef1b0d;
    border-radius: 0 20px 0 20px;
    color: #000000;
}

.register-button:hover:before {
    border-radius: 0 20px 0 20px;
    background-color: #ef1b0d;
    background: transparent;
}
