.faq {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.stripes {
    position: relative;
    width: 10%;
    height: 10%;
}

.stripes::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(2deg, #000000 0%, transparent 45%);
}

.faqtext {
    padding: 0 3rem;
}

.faqtext h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.quest{
    /* padding: 1rem; */
    font-size: 1.5rem;
    font-weight: 300;
    /* display: flex; */
}
.quest:hover{
    background-color: #212121;
    border-left:1px solid;
    border-left-color: #CB4446;

}
.arrow{
    padding: 0.2rem;
    color: #AC1B1D;
}

.ans{
    padding: 1rem;
    font-size: 1rem;
}
