.logo-links {
    background: #fb3020;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 2rem;
    height: 2rem;
}
.logo-links svg {
    width: 50%;
    color: #ffffff;
}
