@import 'Button.css';
@import 'Navbar.css';
@import 'Hero.css';
@import 'HeroUpdate.css';
@import 'Loading.css';
@import 'AboutUs.css';
@import 'Registration.css';
@import 'Faq.css';
@import 'Footer.css';
@import 'Prizepool.css';
@import 'Pumpkin.css';
@import url(https://allfont.net/allfont.css?fonts=agency-fb);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* @import '~react-toastify/dist/ReactToastify.min.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Agency FB';
    src: url('/font/agency-fb.ttf');
}
html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #949494;
    /* transition: ease-in;
    transition-duration: 0.2s; */
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #ac1b1d;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #010101;
    color: #ffffff;
    font-family: 'Agency FB', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    scroll-behavior: smooth;
    @apply scroll-pt-40;
    cursor: none;
}

:hover {
    cursor: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

label {
    @apply flex flex-col gap-1;
}

input {
    @apply rounded-lg px-1 py-1 focus:outline-none focus:border-orange-200 bg-zinc-700;
}

textarea {
    @apply rounded-lg px-1 py-1 focus:outline-none focus:border-orange-200 bg-zinc-700;
}

select {
    @apply rounded-lg px-1 py-2 focus:outline-none focus:border-orange-200  bg-zinc-700;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
    @apply font-agency;
}

.get-border * {
    /* border: 1px solid white; */
}
