@import 'Button.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

label {
    @apply flex flex-col gap-1;
}

input {
    @apply border-2 rounded-lg px-1 py-1 focus:outline-none focus:border-orange-200;
}

textarea {
    @apply border-2 rounded-lg px-1 py-1 focus:outline-none focus:border-orange-200;
}

select {
    @apply border-2 rounded-lg px-1 py-1 focus:outline-none focus:border-orange-200;
}
