.main-title {
    font-family: 'Poppins';
    font-size: clamp(8rem, 4vw+10px, 12rem);
}

.sub-title {
    font-family: 'Poppins';
    font-size: clamp(6rem, 7vw + 12px, 12rem);
}

/* .skull {
    position: absolute;
    width: 27.5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.stroke-text {
    -webkit-text-stroke: 3px #ac1b1d;
    -webkit-text-fill-color: #000000;
    font-size: 10.5vw;
}

.year {
    font-family: 'Agency FB';
    padding-right: 10vw;
    font-size: 4vw;
}

.timer-container {
    border-top: 2px solid #ac1b1d;
    border-bottom: 2px solid #ac1b1d;
}

.timer-container div {
    border-right: 2px solid #ac1b1d;
    padding: 0 8vw;
}
.timer-container div:last-child {
    border-right: none;
}

.timer-container div span {
    @apply text-step-0 sm:text-step-3 xl:text-step-5;
}

.register-button-container {
    padding-left: 10vw;
}

.heading {
    font-size: 4vw;
}
.sponsor-logo {
    /* width: 50vw; */
    /* height: 20vw; */
}

.skull-width {
    width: clamp(250px, 36vw + 110px, 350px);
}
