.navbar {
    background-color: #000000;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0;
    height: 4rem;
    width: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #ef1b0d;
}

.navbar-mobile {
    @apply flex justify-between px-4;
}

.hallothon-logo {
    border-left: 2px solid #ef1b0d;
}

.links {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.links a {
    transition: all 0.1s ease-in;
}
.links a:hover {
    color: #ef1b0d;
    transition: all 0.1s ease-in;
}
