.prizepool{
    padding-top: 15rem;
    /* color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 5rem
}
.prizepoolbox2{
    padding: 1rem;
    position: absolute;
    background: #212121;
    width: 24.5pc;
    height: 6pc;
    left: 35pc;
    top: 56pc;
    display: flex;
    flex-direction: column;
}

.prizepoolbox1{
    padding: 1rem;
    position: absolute;
    background: #212121;
    width: 24.5pc;
    height: 6pc;
    left: 4pc;
    top: 56pc;
    display: flex;
    flex-direction: column;
}
.prizepoolbox3{
    padding: 1rem;
    position: absolute;
    background: #212121;
    width: 24.5pc;
    height: 6pc;
    right: 4pc;
    top: 56pc;
    display: flex;
    flex-direction: column;
}

.ppheading{
    font-size: medium;
    padding-top: 2pt;
    padding-left: 5pt;
}

.ppvalue{
    font-size: x-large;
    padding-left: 5pt;
}

.ppborderl{
    position: absolute;
    left: 0.5pc;
    top: 52pc;

}

.ppborderr{
    position: absolute;
    right: 0.5pc;
    top: 52pc;

}

